<?xml version="1.0"?>
<configuration>
  <location path="api">
    <!-- For IIS 6.0/Mono -->
    <system.web>
      <customErrors mode="Off"/>
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>
    <!-- For IIS 7.0+ -->
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".apk" mimeType="application/octet-stream"/>
      </staticContent>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule"/>
      </modules>
      <validation validateIntegratedModeConfiguration="false"/>
      <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <appSettings>
    <add key="ConnectionString" value="data source=#DataSource;initial catalog=#Catalog;user id=#UserName;password=#Password;persist security info=False"/>
    <add key="Mobile_DB" value="MobileFreight"/>
				<add key="TMS_DB" value="MobileFreight"/>
				<add key="WMS_DB" value="MobileFreight"/>
    <add key="MobileFreight" value="192.168.0.230,MobileFreight,sa,9C44E8CF042FDE9DACE652EA64202E7A,0,ConnectionString"/>
				<add key="CC802Freight" value="192.168.0.230,CC802Freight,sa,9C44E8CF042FDE9DACE652EA64202E7A,0,ConnectionString"/>
				<add key="SecretKey" value="9CBA0A78-7D1D-49D3-BA71-C72E93F9E48F"/>
  </appSettings>
</configuration>