<ion-view title="Login">
	<ion-side-menus enable-menu-with-back-views="true">
		<ion-side-menu-content>
			<div style="text-align:center; margin-left:auto; margin-right:auto;">
				<img src="./img/login.png" width="60%" height="60%">
			</div>
			<div class="list list-inset">
                <div class="item item-divider">
                    <span ng-bind="logininfo.strRole"></span>
                </div>
				<label class="item item-input" ng-show="funcRoleJuage(1)">
					<i class="icon ion-android-call placeholder-icon"></i>&nbsp;&nbsp;
					<input type="tel" id="iPhoneNumber" placeholder="Phone Number" required ng-model="logininfo.strPhoneNumber">
				</label>
                <label class="item item-input" ng-show="funcRoleJuage(2)">
                    <i class="icon ion-android-person placeholder-icon"></i>&nbsp;&nbsp;
                    <input type="tel" id="iUserID" placeholder="User ID" required ng-model="logininfo.strUserID">
                </label>
                <label class="item item-input" ng-show="funcRoleJuage(2)">
                    <i class="icon ion-android-folder-open placeholder-icon"></i>&nbsp;&nbsp;
                    <input type="tel" id="iEventJobNo" placeholder="Event Job No" required ng-model="logininfo.strEventJobNo">
                </label>
				<button class="button button-block button-positive" ng-click="funcLogin()">SIGN IN</button>
			</div>
            <div class="list list-inset">
                <button class="button button-small button-clear button-calm" ng-click="funcChangeRole()">
                    <i class="icon ion-help-circled"></i>&nbsp;&nbsp;Change Role
                </button>
            </div>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<ion-header-bar align-title="center" class="bar-positive">
				<h1 class="title">Settings</h1>
				<div class="buttons pull-right" nav-clear menu-close>  
					<button class="button button-icon icon ion-android-options"></button>  
				</div> 
			</ion-header-bar>
			<ion-content class="has-header">  
				<ion-list>  
					<ion-item nav-clear ng-click="funcSetConf()">  
						<i class="icon ion-android-settings"></i> Server-Side Configuration
					</ion-item>
                    <ion-item nav-clear ng-click="funcCheckUpdate()">
                        <i class="icon ion-arrow-up-c"></i> Check New Version
                    </ion-item>  
				</ion-list>  
			</ion-content> 
		</ion-side-menu>
	</ion-side-menus>
</ion-view>